@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./imgs/pattern.svg");
    background-repeat: repeat;
    background-size: contain;
}

.container{
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    width: 100%;
}

.dotted-container{
    border-style: dashed;
    border-width: 2px;
    border-color: #f4c6ca;
    padding: 2rem;
}

h1{
    text-align: center;
    color: #f05d71;
    font-size: 2.5rem;
    font-family: "Handlee", cursive;
    font-weight: 400;
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

label, legend{
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.checkbox-group{
    display: flex;
    justify-content: space-between;
}

.checkbox-group label{
    font-size: 0.9rem;
    font-weight: normal;
}

fieldset{
    margin-bottom: 1rem;
}

.button{
    background: #f05d71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    margin-bottom: 20px;
}

.button:hover{
    background: #f5839b;
}


.match{
    padding: 3rem;
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    transform: rotate(-5deg);
}

.match img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

}


header .match-name{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.match-name{
    font-size: 1.8rem;
    font-weight: 600;
    color: #EC789A;
    margin: 0;
}

.match-info{
    width: 100%;
    display: flex;
    justify-content: space-between
}

.match-info p{
    margin: 5px 0;
    color: #555;
    font-size: 0.95rem;
}

.match-info strong{
    font-weight: bold;
    color: #333;
}

.selected{
    outline-style: solid;
    outline-color: #F05D71;
    outline-width: 2px;
}

.selected-label{
    color: #F05D71;
}

.error-input{
    outline-style: solid;
    outline-color: #ffc400;
    outline-width: 2px;
}

.error-info{
    color: #ffc400;
    font-size: 0.85rem;
    text-align: center;
   
}